# This is Git's per-user configuration file.
[user]
	name = Jackson Crawford
	email = jackson.crawford@wellnomics.com
# Please adapt and uncomment the following lines:
#	name = Jackson Crawford
#	email = jacksoncrawford@wellnomics.com

[alias]
  co = checkout
  st = status
  rh = reset HEAD
  rhh = reset --hard HEAD
  pu = pull
  up = push

  l = "!. ~/.githelpers && pretty_git_log"
  la = "!git l --all"
  lr = "!git l -30"
  lra = "!git lr --all"
  lg = "!git l -G $1 -- $2"
  feature = !sh -c 'git checkout --no-track -b $0 origin/main'

  ruf = "!. ~/.githelpers && remove_untracked_files"

	tree = log --oneline --decorate --graph

  # Taken from here: https://aaronbonner.io/post/80766268890/git-alias-to-simplify-setting-upstream-branch
  sup = "!git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`"
